@page
@model KitsApp.Pages.Leagues.SerieAModel
@{
    ViewData["Title"] = "SerieA Kits";
}

<div class="hero-section text-center py-5" style="background: url('@Url.Content("~/images/SeriaAbackground.png")') no-repeat center center; background-size: cover;">
    <div class="text-center mb-5">
        <h2 class="text-capitalize text-white mt-5">SerieA Kits</h2>
        <p class="lead text-white">Explore the SerieA kits collection!</p>
    </div>

    <div class="row g-4">
        @foreach (var kit in Model.Kits)
        {
            var imagePath = Url.Content("~/images/Kits/" + kit.ImageTitle + ".png");

            <div class="col-md-4">
                <div class="card kit-card h-100 shadow-lg border-0">
                    <a class="kit-img text-decoration-none" asp-area=""
                       asp-page="/Checkout/Checkout"
                       asp-route-KitName="@kit.KitName"
                       asp-route-KitNumber="@kit.KitNumber"
                       asp-route-ImageTitle="@kit.ImageTitle"
                       asp-route-KitPrice="@kit.FinalPrice">

                        <img src="@imagePath" class="card-img-top img-fluid kit-image" alt="@kit.KitName">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-dark text-uppercase">@kit.KitName</h5>
                        <p class="card-text text-muted">@kit.FinalPrice.ToString("C")</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>